@import url("https://fonts.googleapis.com/css?family=Lato:300");
*{
    margin: 0px;
    color: #6C969D;
    text-shadow :10px 10px 5px rgba(0,0,0,0.2);
    font-size: large;

}
html{
    scroll-behavior: smooth;
}

.master{
    display: inline;
    flex-direction: column;
}
.nav-left{
    display:flex;
    flex-direction: row;
    align-items:center;
    padding-left: 60px;
    width: 30%;
    border-radius: 5px;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.name{
    font-size: larger;
}
.name:hover{
    color:bisque;

}
.navbtn{
    display:flex;
    flex-direction:row;
    align-items:center;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-left: 60px;
    margin-right: 60px;
  
    width:70%;
    font-family: sans-serif;
}
.navbar{
    width: 100%;
    height: 15vh;
    display:flex;
    flex-direction:row;
    align-content: center;
    padding: none;
    background-color: #392B58;
    margin-top: 0;
    padding-top: 0%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top:0;
  
        box-shadow: 10px 10px 5px rgba(0,0,0,0.2);
      

    
}
.navel{
    
    margin:0px;
    padding: 15px;
    text-decoration: none;
    color: #fff;
}
.navel:hover{
    color: white;
    font-size: x-large;
    background-color: #6C969D;
    box-shadow: 5px 5px 5px rgba(1,1,1,0.2);
    border-radius: 10px;
    
}

#about-me{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 85vh;
    
}

.image{
    width:30%;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
    margin:60px;
    border-radius: 100%;
    border:none;
}
.myinfo{
    font-size: larger;
    margin: 40px;
    color: #6C969D;
}
.namehead{
    font-size: 80px;
    box-shadow: none;
    color: #392B58;
    font-family: sans-serif;
}
.shimmer {
    font-family: "Lato";
    font-weight: 300;
    font-size: 3em;
    margin: 0 auto;
    padding: 0 140px 0 0;
    display: inline;
    margin-bottom: 0;
}

p {
    font-family: "Lato";
    font-weight: 300;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.65);
    width: 500px;
    text-align: justify;
    line-height: 1.5em;
    border-top: 1px dashed rgba(255, 255, 255, 0.2);
    margin: 10px 0 0 5px;
    padding-top: 10px;
}

p a {
    text-decoration: none;
    color: #fff;
}

p a:visted {
    color: #fff;
}

.shimmer {
    text-align: center;
    color: rgba(255, 255, 255, 0.1);
    background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    -webkit-background-size: 125px 100%;
    -moz-background-size: 125px 100%;
    background-size: 125px 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-animation-name: shimmer;
    -moz-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #222;
}

@-moz-keyframes shimmer {
    0% {
            background-position: top left;
    }
    100% {
            background-position: top right;
    }
}

@-webkit-keyframes shimmer {
    0% {
            background-position: top left;
    }
    100% {
            background-position: top right;
    }
}

@-o-keyframes shimmer {
    0% {
            background-position: top left;
    }
    100% {
            background-position: top right;
    }
}

@keyframes shimmer {
    0% {
            background-position: top left;
    }
    100% {
            background-position: top right;
    }
}
#skills{
    
    display: flex;
    flex-direction: column;
    padding: 60px ;
    height:80vh;
    background-color: #222;
    font-family: sans-serif;
    
}
.skillset{
    display:flex;
    flex-wrap: wrap;
    margin:60px;
    margin-top: 0px;
}
.skillele{
    background-color: white;
    height: 190px;
    width: 190px;
    margin: 30px;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
}
.skillele:hover{
   
    height: 190px;
    width: 190px;
}
.skillhead{
    font-size: 60px;
}

.images{
    height: 50%;
    width:50%;
   
    border-radius: 10px;
}

